[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
ipython = "*"
httpx = "*"
strenum = "*"
tenacity = "*"
quart = "*"
hypercorn = "*"
quart-cors = "*"
motor = "*"
quart-auth = "*"
validators = "*"
pyjwt = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
