[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
ipython = "*"
strenum = "*"
quart = "*"
hypercorn = "*"
quart-cors = "*"
motor = "*"
validators = "*"
pyjwt = "*"
pycryptodome = "*"
python-dateutil = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
