[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
motor = "*"
quart = "*"
quart-cors = "*"
hypercorn = "*"
strenum = "*"
validators = "*"
pyjwt = "*"
pycryptodome = "*"
python-dateutil = "*"
async-lru = "*"
httpx = "*"
tenacity = "*"

[dev-packages]
autopep8 = "*"
ipython = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-sugar = "*"

[requires]
python_version = "3.9"
